/*

!.gitignore
!README.md
!LICENSE.md

!Data
Data/*
!Data/configs
Data/configs/*
!Data/configs/plugins

!Data/Text
Data/Text/*
!Data/Text/Dialogs
Data/Text/Dialogs/*
!Data/Text/Dialogs/193207.csv

!graphics
graphics/*
!graphics/interface/
graphics/interface/*
!graphics/interface/zv-battle-log

!scripts
scripts/*
!scripts/ZVBattleLog
